@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-poke-navy text-white font-nunito;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .font-700 { font-weight: 700; }
  .font-800 { font-weight: 800; }
  .font-900 { font-weight: 900; }
  .font-600 { font-weight: 600; }
}
